@{
    ViewBag.Title = "NOSOTROS";
}

<main aria-labelledby="title">
    <div class="row justify-content-center bg-dark-subtle rounded-4">

        <h2 id="title" style="text-align:center">@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <p>Dentro de nuestra política tenemos las siguientes...</p>

        <div class="col-sm-12 col-11 ">
            <h3>TÉRMINOS Y CONDICIONES KFC</h3>
            <p style="text-align:justify">Bienvenidos a KFC (operada por DELOSI S.A.), a continuación podrán leer los términos y condiciones mediante los que usted podrá usar nuestro sitio web. Al acceder o utilizar nuestros servicios, usted acepta que ha leído, entiende y está de acuerdo con las condiciones descritas en esta sección "Términos y Condiciones", así como por la legislación que se aplique en la República de Perú.</p>
            <p style="text-align:justify">En consecuencia, todas las visitas y todos los contratos y transacciones que se realicen en el sitio web <a href="https://kfc.com.pe/">www.kfc.com.pe</a>, (en adelante el "sitio web") y sus efectos jurídicos, quedarán regidos por las reglas establecidas a continuación y sometidas a la legislación aplicable.</p>
            <p style="text-align:justify">Los Términos y Condiciones contenidos en este instrumento se aplicarán y se entenderá que forman parte de todos los actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y comercialización comprendidos en este sitio web entre los usuarios de este sitio y DELOSI S.A. (que se denominará en adelante en forma indistinta como "KFC" o "la empresa", o bien "la empresa oferente", "el proveedor" o "la empresa proveedora", según convenga al sentido del texto).</p>
            <p style="text-align:justify">Es requisito para comprar en la Tienda Virtual de KFC la aceptación de los Términos y Condiciones de ventas descritos a continuación. En ese sentido, cualquier persona que realice una transacción en la Tienda Virtual de KFC o a través del número telefónico que KFC destine para tal efecto, declara y reconoce, por el solo hecho de efectuar la compra, que conoce y acepta todos y cada uno de los Términos y Condiciones descritos a continuación. Se entenderán conocidos y aceptados los Términos y Condiciones por el solo hecho de la compra de productos a través de este sitio.</p>
            <p style="text-align:justify">KFC se reserva el derecho de actualizar y/o modificar los Términos y Condiciones que detallamos a continuación en cualquier momento, sin previo aviso. Por esta razón recomendamos revisar los Términos y Condiciones cada vez que utilice este sitio web y/o se realice una compra a través de este sitio web.</p>
            <p style="text-align:justify">A continuación detallamos los Términos y Condiciones:</p>


            <h3>1. REGISTRO DEL USUARIO O CLIENTE.</h3>
            <p style="text-align:justify">Para comprar productos en el sitio, no es necesario estar registrado, pero se sugiere el registro para agilizar el proceso de compra.</p>
            <p style="text-align:justify">El registro de cada usuario se efectuará completando el formulario que aparece en el sitio web y enviando dicho formulario en la sección de "Iniciar Sesión", lo cual se realiza automáticamente mediante un "clic" en el botón respectivo. La información ingresada por el usuario al formulario se considerará verdadera, cierta e inequívoca, eximiendo a KFC de cualquier consecuencia generada a causa de información falsa o incorrecta ingresada por el usuario.</p>
            <p style="text-align:justify">En la cuenta del Usuario se podrán visualizar los productos favoritos así como el historial de compras.</p>

            <h3>2. CONTRASEÑA.</h3>

            <p style="text-align:justify">Una vez registrado, el usuario dispondrá de un nombre y contraseña, que le permitirá el acceso personalizado, confidencial y seguro. El usuario tendrá la posibilidad de cambiar la clave de acceso, para lo cual deberá sujetarse al procedimiento establecido en el sitio web. El usuario asume totalmente la responsabilidad por el mantenimiento de la confidencialidad del nombre y su clave secreta registrada en este sitio web, la cual le permite efectuar compras, solicitar servicios y obtener información. Dicha clave es de uso personal y su entrega a terceros por parte del usuario, exime de responsabilidad alguna a KFC.</p>

            <h3>3. DERECHOS DEL USUARIO DE ESTE SITIO.</h3>

            <p style="text-align:justify">El usuario gozará de los derechos que le reconoce la legislación sobre protección al consumidor vigente en el territorio de Perú, y además los que se le otorgan en estos términos y condiciones. El usuario dispondrá en todo momento de los derechos de información, rectificación y cancelación de los datos personales, conforme lo establece la Ley Nº29733, Ley de protección de datos personales y podrá ejercerlos de acuerdo con lo indicado en la <a href="/politicas-privacidad">Política de Privacidad</a>.</p>
            <p style="text-align:justify">La sola visita de este sitio web, en el cual se ofrecen determinados bienes y el acceso a determinados servicios, no impone al consumidor obligación alguna, a menos que haya aceptado en forma inequívoca las condiciones ofrecidas por KFC, en la forma indicada en el sitio web y en estos Términos y Condiciones.</p>

            <h3>4. PROCEDIMIENTO PARA HACER USO DE ESTE SITIO.</h3>

            <p style="text-align:justify">En los contratos ofrecidos por medio de este sitio web, la empresa oferente informará, de manera inequívoca y fácilmente accesible, los pasos que deben seguirse para celebrarlos.</p>

            <h3>5. ACCESO Y RESTRICCIONES DE ESTE SITIO.</h3>

            <p style="text-align:justify">Para acceder al servicio de delivery en el sitio web debe ingresar la dirección en donde el Usuario desea que le llegue su pedido. La dirección del Usuario se asociará a una tienda KFC delivery, y le mostrará los productos que esa tienda ofrece en ese momento.</p>

            <p style="text-align:justify">Al momento de ingresar la dirección y ser asociado a una tienda, el sitio web podría mostrar restricciones para ser aceptadas por el usuario, y continuar el proceso de compra.</p>

            <!--<h4>Estas restricciones son:</h4>-->

            <p style="text-align:justify">5.1 Zona de reparto: El sitio web valida que la dirección ingresada pertenece a la zona de reparto de KFC. Si la dirección del usuario no correspondiera a una zona de reparto, será invitado a usar nuestra aplicación para buscar la tienda KFC más cercana.</p>

            <p style="text-align:justify">5.2 Modo de pago: Efectivo o en línea a través de la pasarela de pagos.</p>

            <p style="text-align:justify">5.4 Tienda cerrada: El sitio web indica al usuario si la tienda asociada a la dirección ingresada, se encuentra cerrada.</p>

            <p style="text-align:justify">5.5 Tiempo de garantía: Si el tiempo de garantía es igual o excede los 45 minutos, será indicado al usuario.</p>

            <h3>6. HORARIO DE ATENCIÓN.</h3>

            <p sstyle="text-align:justify">El horario de atención del sitio web está asociado al horario de atención de las tiendas KFC.</p>

            <!--<p>Se pueden efectuar pedidos desde las 10 a.m, no obstante, los pedidos será atendidos desde las 12 p.m., siendo que el tiempo de garantía para los pedidos efectuados entre 10 a.m. y 12 p.m. regirá a partir de las 12p.m.</p>-->

            <p style="text-align:justify">Si las tiendas se encuentran cerradas, se podrán visualizar los productos pero no será posible hacer un pedido.</p>

            <p style="text-align:justify">Existen tiendas con horarios especiales, la lista se encuentra en las <a href="/politicas-delivery">políticas de delivery</a>.</p>

            <h3>7. EDICIÓN DE PRODUCTO</h3>
            <p style="text-align:justify">Tu pedido viene con diferentes piezas de pollo de acuerdo a la disponibilidad de la tienda.</p>

            <p style="text-align: justify">Sobre la sección que te permite añadir productos a su pedido: Cada producto extra representa un costo adicional.</p>

            <h3>8. MEDIOS DE PAGOS QUE SE PODRÁN UTILIZAR</h3>

            <p style="text-align:justify">Los productos y servicios ofrecidos en este sitio web, salvo que se señale una forma diferente para casos particulares u ofertas de determinados bienes o servicios, sólo pueden ser pagados con: (i) efectivo o (ii) tarjeta de crédito o débito (Visa o MasterCard). En la primera modalidad, el pago se realizará al momento en que se haga entrega del producto y en la segunda, a través de la pasarela de pagos dentro de la web.</pstyle="text-align:center">

            <p style="text-align:justify">En el caso de haber elegido la opción "pago con efectivo": Al momento de realizar el check out, se dispone de un espacio para colocar el monto en efectivo con el que se efectuará el pago. De esa manera, la persona que realizará la entrega podrá entregar el vuelto correspondiente, de ser el caso.</p>
            <p style="text-align:justify">KFC NO asume responsabilidad sobre la entrega de vuelto adecuado si el Usuario no ingresó el monto correcto con el que efectuará el pago.</p>
            <p style="text-align:justify">El sitio web de KFC no almacena información sobre las tarjetas.</p>

            <h3>9. INFORMACIÓN DEL CONSENTIMIENTO</h3>

            <p style="text-align:justify">A través de este sitio web, la empresa realizará ofertas de bienes y servicios, que podrán ser aceptadas vía electrónica o telefónica, y utilizando los mecanismos que el mismo sitio ofrece para ello. Toda aceptación de oferta quedará sujeta a la condición suspensiva de que KFC valide la transacción. En consecuencia, para toda operación que se efectúe en este sitio web, la confirmación y/o validación o verificación por parte de KFC, será requisito esencial para la formación del consentimiento.</p>

            <p style="text-align:justify">Para validar la transacción, mientras usted realiza el proceso de compra online (web), KFC verifica lo siguiente:</p>

            <ul>
                <li>a.	El precio del artículo de la orden.</li>
                <li>b.	El medio de pago ofrecido por el usuario.</li>
                <li>c.	Si fuera usuario registrado, los datos registrados por el cliente en el sitio web coinciden con los proporcionados al efectuar la aceptación de la oferta.</li>
                <li>d.	La dirección indicada por el usuario para la entrega del producto se encuentra dentro de las zonas de reparto indicadas por KFC en el sitio web.</li>
                <li>e.	Que la tienda asignada tenga el producto ofertado.</li>
            </ul>

            <p style="text-align:justify">La validación de datos se realiza en tiempo real, el sistema del sitio web está construido para hacer las validaciones durante el proceso de compra. Al finalizar la compra, KFC muestra una pantalla de confirmación del pedido y además envía un correo electrónico a la cuenta que el Usuario brinda en el check out con dicha información.</p>

            <h3>10. DESPACHO DE LOS PRODUCTOS.</h3>

            <p style="text-align:justify">Los productos adquiridos a través del sitio web se sujetarán a las <a href="/politicas-delivery">Políticas de Delivery </a>disponibles en el sitio web. La información del lugar de envío es de exclusiva responsabilidad del usuario. Los plazos elegidos para el despacho y entrega, se cuentan desde que KFC ha validado la solicitud de compra y produce la confirmación vía sitio web y vía correo electrónico. Los plazos de entrega serán comunicados al usuario al momento que KFC emita la confirmación vía sitio web y vía correo electrónico.</p>

            <h3>11. VIGENCIA, VALIDEZ Y STOCK DE LOS PRODUCTOS</h3>
            <p style="text-align:justify">Los combos y megas publicados en la web sólo son válidos por el canal delivery.</p>
            <p style="text-align:justify">La disponibilidad, precios y contenidos de los Productos de KFC pueden variar de acuerdo a cada provincia, distrito, por favor consulte con el operador.</p>
            <p style="text-align:justify">Los precios de los productos y servicios publicados en este sitio web, se encuentran vigentes únicamente mientras aparezcan en él. KFC podrá modificar cualquier información, incluyendo el precio, contenida en este sitio en cualquier momento y sin previo aviso, hasta el momento de recibir una solicitud de compra, la cual obligará a KFC sujeta a las condiciones de validación que se indican en el número 9, es decir, una vez que se haya formado el consentimiento entre las partes de una determinada transacción.</p>

            <h3>12. LIBRO DE RECLAMACIONES</h3>

            <p style="text-align:justify">Ponemos a disposición de nuestros Usuarios el Libro de Reclamaciones que figura en nuestra página web.</p>

            <h3>13. COMPROBANTES ELECTRÓNICOS</h3>

            <p style="text-align:justify">Para ver sus comprobantes electrónicos ingresar <a href="https://asp402r.paperless.com.pe/DTEKentucky/" target="_blank">aquí</a>.</p>

            <!--<div class="pt-3">
                <p class="text-left w-100"><small>Imágenes referenciales de productos.</small></p>
            </div>-->

        </div>
    </div>

</main>