
@{
    ViewBag.Title = "Food";
}

<head>
    <style>

        h2 {
            color: rgb(8, 22, 34);
            font-size: 5vmin;
            padding: calc(calc(1em / 16) / 2);
            letter-spacing: calc(1em / 12);
        }

        h4 {
            color: rgb(8, 22, 34);
            font-size: 2.5vmin;
            padding: calc(calc(1em / 16) / 2);
            letter-spacing: calc(1em / 12);
        }



    </style>
</head>

<h2>Lo de esta semana</h2>

<main aria-labelledby="title">
    <div class="row row-cols-1 row-cols-md-3 g-4">


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                <div class="card">
                    <img src="~/css/C1.jpeg" class="card-img-top" alt="Combo 1">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">
                            CHESSY BACON WITH CHEESE
                        </h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">CHESSY BACON WITH CHEESE</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C1.jpeg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 8.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                <div class="card">
                    <img src="~/css/C2.jpg" class="card-img-top" alt="Combo 2">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">QUARTER WITH CHEESE BACON</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">QUARTER WITH CHEESE BACON</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C2.jpg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 7.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                <div class="card">
                    <img src="~/css/C3.jpg" class="card-img-top" alt="Combo 3">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">BIG CANGREBURGER</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">BIG CANGREBURGER</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C3.jpg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 8.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
                <div class="card">
                    <img src="~/css/C4.jpg" class="card-img-top" alt="Combo 4">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">CB-DOUBLE</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">CB-DOUBLE</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C1.jpeg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 9.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                <div class="card">
                    <img src="~/css/C5.jpg" class="card-img-top" alt="Combo 5">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">KOBE TRUFFLE BURGER</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">KOBE TRUFFLE BURGER</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C5.jpg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 8.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop6">
                <div class="card">
                    <img src="~/css/C6.jpg" class="card-img-top" alt="Combo 6">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">TRIPLE BACON STACKHOUSE BURGE</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">TRIPLE BACON STACKHOUSE BURGE</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C1.jpeg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 6.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop7">
                <div class="card">
                    <img src="~/css/C7.jpg" class="card-img-top" alt="Combo 7">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">SURF AND TURF BURGUER</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">SURF AND TURF BURGUER</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C7.jpg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 8.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop8">
                <div class="card">
                    <img src="~/css/C8.jpg" class="card-img-top" alt="Combo 8">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">GERMA-NY-BURGER</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">GERMA-NY-BURGER</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C8.jpg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 9.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop9">
                <div class="card">
                    <img src="~/css/C9.jpg" class="card-img-top" alt="Combo 9">
                    <div class="card-body" style="text-align:center">
                        <h4 class="card-title">BURGER ITALIANO</h4>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="staticBackdrop9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">BURGER ITALIANO</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <img src="~/css/C9.jpg" class="card-img-top" alt="Combo 1">
                                <div class="card-body">
                                    <h4 class="card-title">Solo por hoy a S/ 10.90</h4>
                                    <p>*Válido solo para Perú*</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"><a href="~/Home/Purchase" class="text-decoration-none text-light">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
